# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
files: .*
repos:
# Pre-commit
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
# Ruff
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.11
    hooks:
    -   id: ruff
        name: ruff lint
        args: [ --fix, --exit-non-zero-on-fix ]
    -   id: ruff-format
        name: ruff format
# Mypy
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    -   id: mypy
        args: [--config-file=./pyproject.toml]
        # ignore test files
        exclude: "tests|integration|sandbox"
