# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "packages/"
repos:
# Pre-commit
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
# Ruff
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.2
    hooks:
    -   id: ruff
    -   id: ruff-format
# Mypy
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    -   id: mypy
        # ignore test files
        args: [--config-file=./pyproject.toml]
        exclude: "tests|integration|sandbox"
#-   repo: local
#    hooks:
#      - id: check-packages
#        name: Check packages folder
#        entry: powershell -File .pre-commit-check-packages.ps1
#        language: system
#        files: .*
